<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NL.CardioReader.CommonControlsSource.DMs.WPF4" version="1.4.12" targetFramework="net40" />
  <package id="NL.CardioReader.CommonControlsSource.Editors.WPF4" version="1.5.3" targetFramework="net40" />
  <package id="NL.CardioReader.CommonControlsSource.FMs.WPF4" version="1.4.2" targetFramework="net40" />
  <package id="NL.CardioReader.CommonControlsSource.Navis.WPF4" version="1.4.14" targetFramework="net40" />
  <package id="NL.CardioReader.VoidPower.VOnly.IF.WPF4" version="1.3.3" targetFramework="net40" />
  <package id="NL.CardioReader.VoidPower.WPFLib.WPF4" version="1.0.5" targetFramework="net40" />
</packages>